body {
    height: 100vh;
    min-height:  height: 100%;

}

.page-container {
    height: 100%;
    width: 100%;
    background: #efefef;
    /* Taken from an MDN example */
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  

}

header, main {
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 1rem;
}

header {
    height: 72px;
}
 main {
    height: 100%;
}



header h1 {
    font-family: 'Permanent Marker', cursive;
}

#fortune-teller-container {
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    flex-wrap: wrap;
    height: 720px;
}

.panel {
    flex: 0 0 360px;
    box-sizing: border-box;
    height: 360px;
    border: solid 0.25rem #333333;
    text-align: center;
    padding: 1rem;
    border-radius: 0;
    background-color: #ffffff;
    transition: opacity 0.25s ease, transform 0.5s ease, translate 0.5s ease;
    opacity: 1;

}

.panel h2, .panel h3{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}

.panel h3 {
    font-size: 4rem;
}

#upper-left {
    position: relative;

    top: 0;
    z-index: 2;

}

#upper-right {
    position: relative;
    top: 0;
 
    z-index: 2;
    
}

#lower-right {
 

}

#lower-left {
  
    
}


.rotate-upper-left {
    transform: rotate(-30deg) skew(-30deg, -15deg); 
}
.rotate-upper-right {
    transform: rotate(45deg) skew(30deg, 15deg);
  
}
.rotate-lower-left {
    transform: rotate(-45deg) skew(-15deg, -30deg);
}
.rotate-lower-right {
    transform: rotate(45deg) skew(30deg, 15deg);
}


.slide-upper-left {
    transform:  translate(-500%, -500% );
}

.slide-upper-right {
    transform:  translate(500%, -500% ) ;
}

.slide-lower-left {
    transform:  translate(-500%, -500% );
}

.slide-lower-right {
    transform:  translate(500%, 500% ) ;
}

.return-to-origin {
    transform: translate(0,0);
}





.fade {
   opacity: 0;
  
}



.red {
    color: rgba(255,59,48,1) !important;
}
.yellow {
    color: rgba(255,204,0,1) !important;
}
.green {
    color: rgba(40,205,65,1) !important;
}
.blue {
    color: rgba(0,122,255,1) !important;
}
