body {
    min-height: 100vh;
}

.page-container {
    width: 100%;
}

header, main {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: auto;
    padding: 1rem.
}



header h1 {
    font-family: 'Permanent Marker', cursive;
}

#fortune-teller-container {
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    flex-wrap: wrap;
    height: 720px;
}

.panel {
    flex: 0 0 360px;
    box-sizing: border-box;
    height: 360px;
    border: solid 0.25rem #333333;
    text-align: center;
    padding: 1rem;

}

.panel h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}

#upper-left {

}

#upper-right {
    
}

#lower-right {

}

#lower-left {
    
}



.red {
    color: rgba(255,59,48,1) !important;
}
.yellow {
    color: rgba(255,204,0,1) !important;
}
.green {
    color: rgba(40,205,65,1) !important;
}
.blue {
    color: rgba(0,122,255,1) !important;
}
